# Part 1: Experiment design

Question: We want to know what is the improvement in terms of number of rentals and the revenue generated when professional photos are used in a listing instead of non professional photos.

**Data to be selected:**

1. In order to determine this we can select all listings that have ONLY changed their photos to professional photos between 2016 and now. We want to make sure we don't select listings where the text has also been changed in order to avoid the influence of change in copy in the results. We select from 2016 because we want to know if it has had an influence recently.

2. For all these listings we can take 1 month of data before and after the change of pictures with data being the number of rentals and the revenue generated by these rentals. (Note that we only take 1 month to minimize the seasonality effect in the data. Indeed if we were to take 3 months we would increase the effect of comparing before and during summer for example, which has an influence itself on the price)

**Analysis of the results:**

Once we have collected the two sets of data we can plot the frequency distribution of before and after the change (with revenue and number of rentals) and check if the difference between the mean of the two is statistically significant. This can be done by performing a two sample t-test with a confidence interval of 95%.

# Part 2: Result analysis

In [11]:
# import libraries
import pandas as pd
import numpy as np

In [14]:
# Open json file
rides_raw = pd.read_json("intervals_challenge.json", lines=True)

In [15]:
# Visualize the first 5 lines of the file
rides_raw.head()

,city_id,distance,duration,started_at,trip_id,type,vehicle_id
0,pentos,5384,857,2016-10-03 13:00:00.286999941,c00cee6963e0dc66e50e271239426914,driving_to_destination,52d38cf1a3240d5cbdcf730f2d9a47d6
1,volantis,1248,245,2016-10-03 13:00:00.852999926,427425e1f4318ca2461168bdd6e4fcbd,going_to_pickup,8336b28f24c3e7a1e3d582073b164895
2,pentos,5847,1249,2016-10-03 13:00:01.670000076,757867f6d7c00ef92a65bfaa3895943f,driving_to_destination,8885c59374cc539163e83f01ed59fd16
3,bravos,2585,471,2016-10-03 13:00:01.841000080,d09d1301d361f7359d0d936557d10f89,going_to_pickup,81b63920454f70b6755a494e3b28b3a7
4,pentos,743,182,2016-10-03 13:00:01.970000029,00f20a701f0ec2519353ef3ffaf75068,going_to_pickup,b73030977cbad61c9db55418909864fa